.Rproj.user
.Rhistory
.RData
.Ruserdata
course_project/fit_ext_20181130_053304.Rdata
course_project/assignments-Bayesian Methods-Course Project 32014-Run05272016-fit_ext_20160527_103144.Rdata
course_project/assignments-Bayesian Methods-Course Project 32014-MScA_32014_BayesianMethods_CourseProjectData.csv

